Api/MySecureZoneApp.Api/Service References/FrameworkService/FrameworkService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Citadel.Framework.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Citadel.Framework.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLookup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lookup" nillable="true" type="tns:Lookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookup" nillable="true" type="tns:ArrayOfLookup" />
  <xs:complexType name="Lookup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DbBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:short" />
          <xs:element minOccurs="0" name="Language" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lookup" nillable="true" type="tns:Lookup" />
  <xs:complexType name="DbBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DbBase" nillable="true" type="tns:DbBase" />
</xs:schema>