Api/MySecureZoneApp.Api/Service References/TyrusReportService/ReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/ReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Citadel.Web.TyrusServices" />
  <xs:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/ReportService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetReportCurrencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportCurrenciesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryHTML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q2:guid" />
        <xs:element minOccurs="0" name="dateEffective" type="xs:dateTime" />
        <xs:element minOccurs="0" name="currency" type="xs:short" />
        <xs:element minOccurs="0" name="includeManagedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeRelated" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeShareBreakdown" type="xs:boolean" />
        <xs:element minOccurs="0" name="externalSupplierOnly" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryHTMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValutationSummaryHTMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q4:guid" />
        <xs:element minOccurs="0" name="dateEffective" type="xs:dateTime" />
        <xs:element minOccurs="0" name="currency" type="xs:short" />
        <xs:element minOccurs="0" name="includeManagedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeRelated" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeShareBreakdown" type="xs:boolean" />
        <xs:element minOccurs="0" name="externalSupplierOnly" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValutationSummaryExcelResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q6:guid" />
        <xs:element minOccurs="0" name="dateEffective" type="xs:dateTime" />
        <xs:element minOccurs="0" name="currency" type="xs:short" />
        <xs:element minOccurs="0" name="includeManagedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeRelated" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeShareBreakdown" type="xs:boolean" />
        <xs:element minOccurs="0" name="externalSupplierOnly" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="logActivity" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValutationSummaryPdfResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryMailPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q8:guid" />
        <xs:element minOccurs="0" name="dateEffective" type="xs:dateTime" />
        <xs:element minOccurs="0" name="currency" type="xs:short" />
        <xs:element minOccurs="0" name="includeManagedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeRelated" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeShareBreakdown" type="xs:boolean" />
        <xs:element minOccurs="0" name="externalSupplierOnly" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValutationSummaryMailPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValutationSummaryMailPDFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundFactSheetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FundFactSheetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FundFactSheetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundFactSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fundID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundFactSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FundFactSheetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentContractNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="investmentAccountID" type="q10:guid" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeRelated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentContractNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInvestmentContractNumbersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateQuarterlyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accID" type="q11:guid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isAccountID" type="xs:boolean" />
        <xs:element minOccurs="0" name="logActivity" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateQuarterlyReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateQuarterlyReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q12:guid" />
        <xs:element minOccurs="0" name="classL" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="categoryL" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="typeL" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="subTypeL" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDocumentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnreadDocumentCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q13:guid" />
        <xs:element minOccurs="0" name="classL" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="categoryL" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="typeL" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="subTypeL" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnreadDocumentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUnreadDocumentCountResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentID" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDocumentDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTransactionCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTransactionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveTransactionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentWebMappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PartyID" type="q16:guid" />
        <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="webCategoryL" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentWebMappingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Citadel.Web.TyrusServices" minOccurs="0" name="getDocumentWebMappingsResult" nillable="true" type="q17:ArrayOfWebDocumentIndice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDocumentWebStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DocumentID" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q19:guid" />
        <xs:element minOccurs="0" name="webStatusL" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDocumentWebStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setDocumentWebStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDocumentWebStatusAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DocumentItems" nillable="true" type="q20:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="webStatusL" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDocumentWebStatusAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setDocumentWebStatusAllResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="switchUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggedInUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="switchUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWebReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q21:guid" />
        <xs:element minOccurs="0" name="reportTypeL" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWebReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWebReportsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="dsReports" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWebReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportType" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q22:guid" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q23:guid" />
        <xs:element minOccurs="0" name="dateEffective" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWebReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWebReportDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="reportData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="resultText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateWebReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyWebReportID" type="q24:guid" />
        <xs:element minOccurs="0" name="updateType" type="xs:int" />
        <xs:element minOccurs="0" name="reportStatusL" type="xs:short" />
        <xs:element minOccurs="0" name="isConfirmed" type="xs:boolean" />
        <xs:element minOccurs="0" name="isUpdated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateWebReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateWebReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProductSheetResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="investmentID" type="q25:guid" />
        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSupplierStatementResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultArr" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ResultText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEACReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyWebReportID" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEACReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEACReportResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="eacReportDS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="resultText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeSummaryReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyWebReportID" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeSummaryReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeeSummaryReportResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="FeeSummaryReportDS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="FeeSummaryHeaderDS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="resultText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>