Api/MySecureZoneApp.Api/Service References/TyrusNotificationService/ClientNotificationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/ClientNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SendNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q1:guid" />
        <xs:element minOccurs="0" name="notificationCategory" type="xs:short" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partyNotificationStatusL" type="xs:short" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="notifyID" type="q2:guid" />
        <xs:element minOccurs="0" name="sendAdvisorEmail" type="xs:boolean" />
        <xs:element minOccurs="0" name="sendAdvisorSms" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendNotificationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ResultInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q3:guid" />
        <xs:element minOccurs="0" name="categoryL" type="xs:short" />
        <xs:element minOccurs="0" name="cellNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOTPResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ResultInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendClientPortfolioUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q4:guid" />
        <xs:element minOccurs="0" name="mailBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendClientPortfolioUpdateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendClientPortfolioUpdateRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q5:guid" />
        <xs:element minOccurs="0" name="categoryL" type="xs:short" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOTPResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ResultInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q6:guid" />
        <xs:element minOccurs="0" name="notificationCategory" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="notificationStatus" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="notificationType" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="useLinkedAccounts" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNotificationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="notificationID" type="q7:guid" />
        <xs:element minOccurs="0" name="notificationType" type="xs:short" />
        <xs:element minOccurs="0" name="notificationStatus" type="xs:short" />
        <xs:element minOccurs="0" name="allReferencedMessages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotificationStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q8:guid" />
        <xs:element minOccurs="0" name="onlySelected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNotificationTypesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedTnC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sharedTnCID" type="q9:guid" />
        <xs:element minOccurs="0" name="typeL" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedTnCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSharedTnCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="partyID" type="q10:guid" />
        <xs:element minOccurs="0" name="notificationCategory" type="xs:short" />
        <xs:element minOccurs="0" name="notificationType" type="xs:short" />
        <xs:element minOccurs="0" name="selected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotificationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotificationTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bcc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="switchUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggedInUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="switchUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="hasStaffSetupDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasStaffSetupDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasStaffSetupDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSecureChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientID" type="q11:guid" />
        <xs:element minOccurs="0" name="notificationCategory" type="xs:short" />
        <xs:element minOccurs="0" name="requestType" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSecureChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestSecureChatResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ResultInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>