Api/MySecureZoneApp.Api/Service References/TyrusClientService/ClientService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Citadel.Clients.Entity.Estate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Citadel.Clients.Entity.Estate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv12webdev:8020/LiveTestTyrusServices/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Citadel.Clients.Entity" />
  <xs:import schemaLocation="http://srv12webdev:8020/LiveTestTyrusServices/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Citadel.Framework.Entity" />
  <xs:complexType name="Will">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Citadel.Framework.Entity" base="q1:EntityBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Citadel.Clients.Entity" minOccurs="0" name="ExecutorOfWill" nillable="true" type="q2:Client" />
          <xs:element minOccurs="0" name="ExecutorOfWillL" type="xs:short" />
          <xs:element minOccurs="0" name="ExecutorOfWillOther" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExecutorOfWillSID" type="xs:int" />
          <xs:element minOccurs="0" name="ExecutorType" type="xs:short" />
          <xs:element minOccurs="0" name="HasWill" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocationOfOrigonalL" type="xs:short" />
          <xs:element minOccurs="0" name="LocationOfOrigonalOther" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonResponsibleForDraftingID" type="xs:int" />
          <xs:element minOccurs="0" name="PersonResponsibleForDraftingOther" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferredWillSupplierL" type="xs:short" />
          <xs:element minOccurs="0" name="PreferredWillSupplierOther" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewedByID" type="xs:int" />
          <xs:element minOccurs="0" name="ReviewedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SafeNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="WillType" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Will" nillable="true" type="tns:Will" />
</xs:schema>