Api/MySecureZoneApp.Api/Service References/TyrusClientService/ClientService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Citadel.Clients.Entity.CRM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Citadel.Clients.Entity.CRM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv12webdev:8020/LiveTestTyrusServices/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Citadel.Framework.Entity" />
  <xs:complexType name="BrainProfile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Citadel.Framework.Entity" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BrainProfileL1" type="xs:short" />
          <xs:element minOccurs="0" name="BrainProfileL2" type="xs:short" />
          <xs:element minOccurs="0" name="BrainProfilePercentageL" type="xs:decimal" />
          <xs:element minOccurs="0" name="BrainProfilePercentageR" type="xs:decimal" />
          <xs:element minOccurs="0" name="BrainProfileR1" type="xs:short" />
          <xs:element minOccurs="0" name="BrainProfileR2" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrainProfile" nillable="true" type="tns:BrainProfile" />
</xs:schema>