Api/MySecureZoneApp.Api/Service References/TyrusAccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://srv12webdev:8006/Citadel.Web.Service/AccountService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_GetLast4Fees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLast4Fees" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetLast4Fees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLast4FeesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetActiveAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetActiveAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CheckLastQuarterlyReportNewFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLastQuarterlyReportNewFormat" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CheckLastQuarterlyReportNewFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLastQuarterlyReportNewFormatResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="GetLast4Fees">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetLast4Fees" message="tns:IAccountService_GetLast4Fees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetLast4FeesResponse" message="tns:IAccountService_GetLast4Fees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetActiveAccounts" message="tns:IAccountService_GetActiveAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetActiveAccountsResponse" message="tns:IAccountService_GetActiveAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLastQuarterlyReportNewFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CheckLastQuarterlyReportNewFormat" message="tns:IAccountService_CheckLastQuarterlyReportNewFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CheckLastQuarterlyReportNewFormatResponse" message="tns:IAccountService_CheckLastQuarterlyReportNewFormat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLast4Fees">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetLast4Fees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetActiveAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLastQuarterlyReportNewFormat">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CheckLastQuarterlyReportNewFormat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://srv12webdev:8006/Citadel.Web.Service/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>